* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.title{
    font-size:xx-large ;
}

.title1{
    font-size: x-large;
}

.header {
    background-color: #004080;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.fach-buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-section {
    text-align: center;
    margin-bottom: 20px;
}

.button-container{
    display: flex;
    flex-wrap: wrap; /* Ermöglicht Zeilenumbrüche */
    gap: 15px; /* Abstand zwischen den Buttons */
    justify-content: center; /* Zentrierung */
    max-width: 800px;}

.infos{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.tabe{
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 12px;
}

.tablo{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
}

.a{
    text-align: center;
    justify-content: center;
    justify-items: center;
}

a {
    padding: 15px 20px;
    font-size: 1em;
    color: white;
    background-color: #0066cc;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: #004080;
    transform: scale(1.05);
    text-decoration: none;
}

a span{
    font-size: 0.9em;
    text-overflow: ellipsis; /* Textüberlauf verhindern */
    overflow: hidden;
    white-space: nowrap;
}

.videoteil{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.mp4{
    width: 100%;
}


.footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

.footer p {
    margin: 0;
}

@media (max-width: 768px) {
    button {
        font-size: 0.9em;
        padding: 12px;
    }

    .fach-details {
        padding: 15px;
    }
}
